<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <% if current_user.activated? %>
      <li>Account status: Active</li>
    <% end %>
  </ul>

  <section id="bookmarks">
    <% Video.bookmarks(current_user.id).each do |video| %>
      Title: <%= video.title %>
      Description: <%= video.description %>
    <% end %>
  </section>



  <section id="bookmarks">
    <% Video.bookmarks(current_user.id).each do |video| %>
      Title: <%= video.title %>
      Description: <%= video.description %>
    <% end %>
  </section>

  <%= form_tag '/invitations' do %>
    Your Friend's GitHub Handle: <%= text_field_tag :github_handle %>
    <%= submit_tag "Send an Invite" %>
  <% end %>

  <section>
    <% if session[:github] == nil %>
      <%= link_to "Log in to GitHub", '/auth/github', class: "btn bg-teal btn-outline " %>
    <% else %>
    <section class="github">
    <h3>Github Repositories</h3>
      <% user.repos.each do |repo| %>
      <ul class="github-repos">
        <li><%= link_to "#{repo.name}", "#{repo.url}" %> </li>
      </ul>
    <% end %>

    <h3>Github Followers</h3>
      <% user.followers.each do |follower| %>
        <ul class="followers">
          <li><%= link_to "#{follower.name}", "#{follower.url_link}" %></li>
          <section id = "request-<%= follower.id %>">
          <% if User.relationship(follower.id, current_user.id) == nil && User.uid_in_database(follower.id) %>
            <%= button_to "Friend", "/follows/#{follower.id}/#{follower.name}", method: :post %>
          <% end %>
        </section>
        </ul>
      <% end %>

    <h3>Who You are Following on Github</h3>
    <% user.followings.each do |user| %>
      <ul class ="following">
        <li><%= link_to "#{user.name}", "#{user.url_link}" %></li>
        <section id = "request_following-<%= user.id %>">
        <% if User.relationship(user.id, current_user.id) == nil && User.uid_in_database(user.id) %>
          <%= button_to "Friend", "/follows/#{user.id}/#{user.name}", method: :post %>
        <% end %>
      </section>
      </ul>
    <% end %>
  </section>

  <h3>Your Friends</h3>
  <section id="friendships">
    <% User.friends(current_user.id).each do |friend| %>
      Friend GitHub Handle: <%= friend.login %>
    <% end %>
  </section>

  <% end %>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
